<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>À propos de nous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://www.zarla.com/images/zarla-ok-computer-1x1-2400x2400-20210604-7crgxgvhjmxmxm64pdj4.png?crop=1:1,smart&width=250&dpr=2" />
    <ion-card-header>
      <ion-card-title>Vente INFORMATIQUE
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La société <strong>Vente INFORMATIQUE </strong> spécialisée Informatique - Fournitures, Informatique <br>
      Depuis 2006, Vente INFORMATIQUE pour vous assurer le meilleur service et la bonne conseil 
    </ion-card>
 </ion-content>
 